@model MyWebFormApp.BLL.DTOs.ArticleCreateDTO

@{
    var categories = ViewBag.Categories;
}

<div class="row">

	<div class="col-lg-12">
		<!-- Basic Card Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Add a New Article</h6>
			</div>
			<div class="card-body">
				@Html.Raw(ViewData["message"])
				<div class="col-lg-6">
					<form method="post" asp-action="Create" v enctype="multipart/form-data">
						<div class="form-group">
							<label asp-for="CategoryID">Category ID:</label>
							<select name="CategoryID" asp-for="CategoryID" class="form-control">
								<option value="0">--Select Category--</option>
								@foreach (var category in categories)
								{
									<option value="@category.CategoryID">@category.CategoryName</option>
								}
							</select>
							<span class="text-danger" asp-validation-for="CategoryID"></span>
						</div>
						<div class="form-group">
							<label asp-for="Title">Title:</label>
							<input asp-for="Title" type="text" class="form-control" name="Title"
								   placeholder="Insert Title" />
							<span class="text-danger" asp-validation-for="Title"></span>
						</div>
						<div class="form-group">
							<label asp-for="Details">Details:</label>
<textarea asp-for="Details" type="text" class="form-control" name="Details"
		  placeholder="Insert Details"></textarea>
							<span class="text-danger" asp-validation-for="Details"></span>
						</div>
						<div class="form-group form-inline">
							<input type="checkbox" asp-for="IsApproved" class="form-control me-5" />
							&nbsp;
							&nbsp;
							<label for="IsApproved">Is Approved</label>
						</div>
						<div class="form-group">
							<label for="ImageArticle">Picture:</label>
							<input type="file" class="form-control" name="ImageArticle" />
						</div>

						<button type="submit" class="btn btn-success btn-sm">
							<i class="icon fa fa-plus-circle"></i> Create
						</button>
					</form>
				</div>
			</div>
		</div>

	</div>

</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
